<p id="notice"><%= notice %></p>

<h1>Armazems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Weight</th>
      <th>Price</th>
      <th>Description</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armazems.each do |armazem| %>
      <tr>
        <td><%= armazem.name %></td>
        <td><%= armazem.brand %></td>
        <td><%= armazem.weight %></td>
        <td><%= armazem.price %></td>
        <td><%= armazem.description %></td>
        <td><%= armazem.expiration %></td>
        <td><%= link_to 'Show', armazem %></td>
        <td><%= link_to 'Edit', edit_armazem_path(armazem) %></td>
        <td><%= link_to 'Destroy', armazem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Armazem', new_armazem_path %>
