

<h1>Estoques</h1>
</br></br>
<%= link_to "Foods", foods_path %>
</br></br>
 <%= link_to "Armazems", armazems_path %>
</br></br>
 <%= link_to "Clientes", clients_path %>
</br></br>

<% if user_signed_in? %>
  <ul>
     <li><%= current_user.email %></li>
     <li><%= user_session %></li>
     <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
</ul>

<% else %>
 <ul>
    <li><%= link_to "Cadastro Novo Usuário", new_user_registration_path %></li>
    <li><%= link_to "Logar", new_user_session_path %></li>
</ul>
<% end %>
